<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Chat</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <main class="container">
      <h3>Write a New Chat</h3>
      <div class="card">
        <form method="POST" action="/chats" class="form-container">
          <input type="text" placeholder="Who are you?" name="from" required />
          <input
            type="text"
            placeholder="Who is the receiver?"
            name="to"
            required
          />
          <textarea
            name="msg"
            placeholder="Write your message here..."
            required
          ></textarea>
          <div class="btn-group">
            <button class="btn btn-primary">Create Chat</button>
            <a href="/chats" class="btn btn-secondary">Back</a>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
